[package]
name = "dropbear-derive"
version.workspace = true
edition.workspace = true
license.workspace = true
repository.workspace = true
readme = "README.md"

[lib]
proc-macro = true

[dependencies]
syn = "2.0"
quote = "1.0"